/*Fontes*/

@font-face {
    font-family: 'Vice City Sans';
    src: url(Fontes/ViceCitySans/ViceCitySans.otf);
}

@font-face {
    font-family: 'Coolvetica';
    src: url(Fontes/Coolvetica/coolvetica\ rg.otf);
}

@font-face {
    font-family: 'TechnaSans';
    src: url(Fontes/TechnaSans/TechnaSans-Regular.otf);
}



/*Animações*/

@keyframes surgirCima {
    0% {
        
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        
        transform: translateY(0);
        opacity: 1;
        
    }
}

/*Body e Header*/


* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'TechnaSans';
    background-color: #1b2024;
    background-color: rgb(19, 38, 54);

    color: white;
    letter-spacing: 1px;
    word-spacing: 1px; 
}

p {
    line-height: 1.618;
    padding-bottom: 0.7em;
    font-weight: lighter;
}

::selection {
    background: #01BEFF;
    color: white;
}

header {
    padding-top: 50px;
    height: 100px;

    width: 100%;
    position: relative;
    animation: surgirCima 900ms ease-out;
    z-index: 1000;
}

header nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

header ul {
    width: 100%;
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

header li {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 35px;
    transition: 0.4s;
}
    .header-links a:hover {
        color: white;
    }


.header-logo {
    height: 45%;
    position: absolute;
    left: 0;
}

.header-logo img{
    height: 100%;
}

.menu-button {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    z-index: 1001;
    position: absolute;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    top: 0;
    right: 7%;
}
    .menu-button label {
        transition: 0.3s;
    }
  

    .menu-button:hover {
        color: white;
    }

    #menu-lateral-check {
        display: none;
    }

footer {
    width: 100%;
    height: 180px;
    background-color: rgb(12, 25, 36);
    display: flex;
    justify-content: center;
    padding-top: calc(100px);
    padding-bottom: 100px;
}

    .dentro-footer {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        max-width: 1600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-image-box, .footer-links-rapidos, .footer-redes-sociais {
        width: 33.333%;
        height: 100%;
    }

        .footer-image-box {
            display: flex;
            align-items: center;
        }
        .footer-image-box img {
            width: 40%;
        }
        

        .footer-links-rapidos h3, .footer-redes-sociais h3 {
            margin-bottom: 25px;
            font-size: 20px;
        }

        footer ul li, footer a{
            list-style: none;
            text-decoration: none;
        }

        .footer-links-rapidos li {
            margin-bottom: calc(12.5px);
            font-size: 16px;
        }
            .footer-links-rapidos li a {
                color: rgba(239, 250, 255, 0.7);
                transition: 0.3s;
            }
                .footer-links-rapidos li a:hover {
                    color: white;
                }

        .footer-links-rapidos a i {
            color: #01BEFF;
            margin-right: 7px;
        }

        .footer-redes-sociais p {
            color: #01BEFF;
        }

        .footer-s-medias {
            margin-top: 25px;
        }

        .footer-s-medias a {
            color: white;
            font-size: 25px;
            margin-right: 20px;
        }


/*Menu Lateral*/

.menu-lateral {
    position: fixed;
    background-color: rgb(28, 53, 75);
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 1000;
    border-radius: 25px 0 0 0;
    display: none;
    transition: 0.3s ease-in-out;
    transform: translateX(100%);
}

    .menu-lateral nav {
        margin-top: 100px;
        width: 100%;
    }

    .menu-lateral ul {
        width: calc(100% - (5% * 1.618 * 2) - 40px);
        margin-left: calc(5% * 1.618);
        margin-right: calc(5% * 1.618);
    }
        .menu-lateral ul li {
            list-style: none;
        }

        .menu-lateral li a {
            font-size: 20px;

            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;

            text-decoration: none;
            color: white;
            border-radius: 5px;
            transition: 0.3s;
            width: 70%;

            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            
        }
            .menu-lateral li a i {
                opacity: 0;
                transition: 0.3s;
                color: #01BEFF;
            }

            .menu-lateral li a:hover {
                background-color: rgba(1, 192, 255, 0.2);
                color: #01BEFF;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 100%;
                
            }
                .menu-lateral li a:hover i {
                    opacity: 1;
                }
    
            .menu-lateral-fundo-escuro {
                top: 0;
                left: 0;
                z-index: 1000;
                display: block;
                position: fixed;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
            }

            .menu-lateral li .menu-lateral-a-selecionado {
                background-color: rgba(1, 192, 255, 0.2);
                color: #01BEFF;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 100%;
            }

            .menu-lateral li .menu-lateral-a-selecionado i{
                opacity: 1;
            }

@media screen and (max-width: 900px) {

    .header-links a {
        font-size: 16px;
        margin-right: 30px;
    }


}

@media screen and (max-width: 800px) {

    header {
        height: 90px;
    }

    .header-links {
        display: none;
    }




    header nav {
        margin-left: 7%;
        margin-right: 7%;
    }
        

    /*s2*/
    .secao-2 {
        position: relative;
    }

    
    /*footer*/

    .dentro-footer {
        width: calc(100% - 14%);
        margin-left: 7%;
        margin-right: 7%;
    }

    .footer-image-box {
        display: none;
    }

    .footer-links-rapidos, .footer-redes-sociais {
        width: 50%;
    }

    .footer-links-rapidos h3, .footer-redes-sociais h3 {
        font-size: 18px;
    }

    .footer-links-rapidos a, .footer-redes-sociais p {
        font-size: 16px;
    }

    .footer-s-medias {
        margin-top: 10px;
    }

    .footer-s-medias a i {
        font-size: 22px;
    }

    /*menu*/

    .menu-lateral {
        display: block;
    }

    .menu-button {
        display: flex;
        
    }
}


/*ACIMA DE TUDO (último no código)*/
.color-text-principal {
    color: #01BEFF;
}

.color-text-white {
    color: white;
}

.dentro-secao-1, .dentro-secao-2, .dentro-secao-3 {
    max-width: 1600px;

}

header {
    display: flex;
    justify-content: center;
    
    /*Para alinhar header ao centro horizontalmente em telas maiores que 1600px*/
}


    header nav {
        display: flex;
        justify-content: center;
        max-width: 1600px;
    }
    
    header ul {
        max-width: 1600px;
    }

section {
    display: flex;
    justify-content: center;
    /*para alinhar o dentro-secao ao centro horizontalmente*/

}
